[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
music-tag = "*"
just-playback = "*"
mutagen = "*"
customtkinter = "*"
packaging = "*"
ctklistbox = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
